
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport"content="width=device-width, initial-scale=1.0" />
<title>公益</title>
<meta name="keywords" content="华为商城,华为,华为官网, 华为荣耀,华为手机官网,荣耀手机,华为荣耀, 荣耀3C,荣耀畅玩版,荣耀3X,荣耀X1,华为P7,vmall,huawei" />
<meta name="description" content="华为商城是华为旗下面向全国服务的电子商务平台官网，提供正品华为手机、荣耀手机(华为荣耀3C、畅玩版、3X、X1、华为P7等)、平板电脑、配件等华为、荣耀产品。品质保证！" />  
<link href="/site_media/css/vmcss.css" rel="stylesheet" type="text/css">
<script>
var mediaPath = "/site_media/";
var cartNum = "" || "0" || 0;
</script>
<link href="/site_media/css/main.css" rel="stylesheet" type="text/css">
<link href="/site_media/css/gongyi.css" rel="stylesheet" type="text/css">

</head>


<body>

<div class="index-top">
	<div class="index-top-main" id="index-header">
		<header class="header">
			<!-- 21030531-logo-start -->
			<section class="logo">
				<a href="/index"><img src="http://res.vmall.com/nwap/20140708/images/echannelWap/logo.png"></a>
			</section><!-- 21030531-logo-end -->
			<section class="shortcut">
				<ul>
					<li>登录</li>
				</ul>
			</section>
			
		</header>
	</div>
</div>

<div class="hr-96"></div>


<!-- 21030306-首页焦点图-start -->
<article class="it-slider1" id="focusImg">
    <h3></h3>
</article>



<!-- 21030306-推荐商品-start -->
<article class="rec-pro">
    <section class="pro-list-1">
        <ul> 
            <!-- 组合套餐商品列表 -->
            
            
            <!-- 促销商品列表 -->
            
                <li>
                    <a href="/product/1070.html" >
                <div class="pro-area" id="promotion-prd-1070">
                        <p class="p-img"><img src="http://res.vmall.com/pimages//product/100101115/14/142_142_1.jpg" alt="华为 Ascend P7 移动4G（粉色）" /></p>
                        <p class="p-name">华为 Ascend P7 移动4G（粉色）</p>
                        <p class="p-slogan">纤薄机身，玻璃背纹，时尚新宠，全球领先的超薄LTE手机，震撼发售！8月26日~9月1日成功购买华为P7（包括阿森纳尊享版）并给出5分好评，即有机会赢取1台华为P7蓝宝石屏典藏版手机。</p>
                        <p class="p-price"><b>&yen;&nbsp;2888.00</b></p>
                    </div>
                    </a>
                </li>
                <li>
                    <a href="/product/859.html" >
                <div class="pro-area" id="promotion-prd-859">
                        <p class="p-img"><img src="http://res.vmall.com/pimages//product/100101079/02/142_142_3.jpg" alt="Mate2 双卡双待双通 电信3G手机（白色）" /></p>
                        <p class="p-name">Mate2 双卡双待双通 电信3G手机（白色）</p>
                        <p class="p-slogan"></p>
                        <p class="p-price"><b>&yen;&nbsp;2388.00</b></p>
                    </div>
                    </a>
                </li>
                <li>
                    <a href="/product/1349.html" >
                <div class="pro-area" id="promotion-prd-1349">
                        <p class="p-img"><img src="http://res.vmall.com/pimages//product/100101159/01/142_142_B-ZM.jpg" alt="C199 麦芒  电信4G（月光银）" /></p>
                        <p class="p-name">C199 麦芒  电信4G（月光银）</p>
                        <p class="p-slogan">7.6mm纤薄金属机身；1300万像素摄像头；支持电信4G网络、双卡三待双通；高通MSM8928四核1.6GHz处理器；3000mAh大电池；麦芒无畏生长，专为年轻定制，中国好声音手机!</p>
                        <p class="p-price"><b>&yen;&nbsp;1999.00</b></p>
                    </div>
                    </a>
                </li>
                
               
            
            
         </ul>
    </section>
</article> <!-- 21030306-推荐商品-end -->



<!-- ********商品分类end******* -->
<!-- 21030307-按钮区域-start -->


<script src="/site_media/js/ecWap.js"></script>
<script src="/site_media/css/base.js"></script><script src="/site_media/css/index.js"></script>





</body>
</html>
<!--Hit 2014-08-30 13:14:20-->