{% extends "basehuiyuanka.html" %}
{% block title %}86PLUS公告{% endblock %}

{% block huiyuanka %}
<section id="card_ctn">
        <div class="bk1"></div>
        <div class="cont">
          <div class="card">
            <div class="front">
              <figure class="fg" style="background-image:url(/site_media/img/4f.jpg);">
                <img src="/site_media/img/companylogo.png">
                <figcaption class="fc">
                  <span class="cname" style="color:#957426;">微信会员卡</span>
                  <span class="t" style="color:#aaa;text-shadow:#000 0 -1px;"></span>
                  <span class="n" style="color: rgb(170, 170, 170); text-shadow: rgb(0, 0, 0) 0px -1px; ">NO.80000716</span>
                </figcaption>
              </figure>
            </div>
            <div class="back">
              <figure class="fg" style="background-image:url(/site_media/img/4b.jpg);">
                <div class="info">
                  <p class="addr">广东省深圳市南山区滨海大道深圳湾体育中心</p>
                  <p class="tel"><a class="autotel" href="tel:075586280000">0755-86280000</a></p>
                </div>
                <p class="keywords">番茄田</p>
              </figure>
            </div>
          </div>
        </div>
      </section>
{% endblock %}

{% block content %}
<div style="width:150px; height:150px;">
<img align="middle" src="http://picapi.ooopic.com/10/26/22/71b1OOOPICdf.jpg"  alt="公益捐款" />
<div>
<br>
<p>捐款公益；；；；；；；；；；；；；；；；；；；；；；；；；大天下告知！！！！！！！！！！！！！！！</p><br>
<div align="center">
<button type="button">立即捐款</button>
<div>
{% endblock %}

   