<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"
<link href='/site_media/css/product.css' rel="stylesheet" type="text/css"> />
<title>无标题文档</title>
</head>

<body topmargin="0">  
  
<div class="main">  
网页主体内容，包含网页其他栏目   
</div>  
<!--蒙板-->  
<div class="mask"></div>  
<div class="opendiv" >  
    最上层DIV覆盖下面的全部DIV   
</div>  
</body>  
</html>
