<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Teste</title>
    <script type="text/javascript" src="/site_media/js/jquery.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery-ui.js"></script>
    
    <link rel="stylesheet" href="/site_media/css/jquery-ui.css"/>
   
    <script type="text/javascript">
	$(function()
	{
		$("#datepicker").datepicker({//添加日期选择功能  
            numberOfMonths:1,//显示几个月  
            //showButtonPanel:true,//是否显示按钮面板  
            dateFormat: 'yy-mm-dd',//日期格式  
			//changeMonth:true,
			//changeYear:true,
			hideIfNoPrevNext:true,
			stepMonths:0,
            clearText:"清除",//清除日期的按钮名称  
            closeText:"关闭",//关闭选择框的按钮名称  
            yearSuffix: '年', //年的后缀  
            showMonthAfterYear:true,//是否把月放在年的后面  
            //defaultDate:'2011-03-10',//默认日期  
            minDate:'2011-03-05',//最小日期  
            maxDate:'2999-12-31',//最大日期  
            monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],  
            dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
            dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
            dayNamesMin: ['日','一','二','三','四','五','六'],  
            onSelect: function(selectedDate) {//选择日期后执行的操作  
                alert(selectedDate); 
            }  
            });  		
			
	}
	);
	</script>
    
    {% for y in yonghu %}
    
    {% ifequal y.h1 '1' %}
    <script type="text/javascript">
	$(function()
	{
		
		//$("#1").css({"background": "url('/site_media/img/qian.gif') top left no-repeat"});
		$("#1").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h2 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#2").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h3 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#3").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h4 '1' %}
    <script type="text/javascript">
	$(function()
	{
		
		$("#4").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h5 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#5").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h6 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#6").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h7 '1' %}
    <script type="text/javascript">
	$(function()
	{
		
		$("#7").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h8 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#8").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h9 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#9").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h10 '1' %}
    <script type="text/javascript">
	$(function()
	{
		
		$("#10").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h11 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#11").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h12 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#12").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h13 '1' %}
    <script type="text/javascript">
	$(function()
	{
		
		$("#13").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h14 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#14").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h15 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#15").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h16 '1' %}
    <script type="text/javascript">
	$(function()
	{
		
		$("#16").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h17 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#17").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h18 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#18").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h19 '1' %}
    <script type="text/javascript">
	$(function()
	{
		
		$("#19").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h20 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#20").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h21 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#21").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h22 '1' %}
    <script type="text/javascript">
	$(function()
	{
		
		$("#22").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h23 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#23").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h24 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#24").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h25 '1' %}
    <script type="text/javascript">
	$(function()
	{
		
		$("#25").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h26 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#26").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h27 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#27").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h28 '1' %}
    <script type="text/javascript">
	$(function()
	{
		
		$("#28").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h29 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#29").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h30 '1' %}
    <script type="text/javascript">
	$(function()
	{
		$("#30").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    {% ifequal y.h31 '1' %}
    <script type="text/javascript">
	$(function()
	{
		
		$("#31").css({"background":"#FF0000"});
	});
	</script>
    {% endifequal %}
    
    
    {% endfor %}
    
</head>
<body>

<div id="datepicker" style="width:100%;height:100%" align="center"></div>
<div style="width:80%; height:50%;padding: 0.2em 0px; position:relative"><p style="font-size:2.5em">抽奖签到说明</p>
<p style="font-size:0.875em">的是理科冠军联赛快点康复机构设立考点塞德里克高房价斯科拉的公开伺服电机关联方董事进口量的就是两个就算了的kg集散地立刻飞机公司的离开赶紧离开家代理商咖啡馆就离开家第三方离开家就</p>
</div>
<div style="width:80%;padding: 0.2em 0px; position:relative">
<button>签到</button>>
</div>
</body>
</html>