<html class="frame">
<head>
<meta charset="UTF-8"/>
<style type="text/css">
    .frame {
        height: 100%;
    }
    .sidebar {
        background-color: red;
        position: absolute;
        z-index: 50;
        width: 80%;
        height: 100%;
    }
    .scroller {
        background-color: green;
        position: relative;
        z-index: 100;
        height: 2000px;
    }
    .sidebar-show body, .sidebar-hide body {
        height: 100%;
    }
    .sidebar-show .scroller {
        overflow: hidden;
        height: 100%;
        -webkit-transition: -webkit-transform 400ms;
        -webkit-transform: translate3d(80%,0,0);
    }
    .sidebar-hide .scroller {
        overflow: hidden;
        height: 100%;
        -webkit-transition: -webkit-transform 400ms;
        -webkit-transform: translate3d(0,0,0);
    }
</style>
<link href="/site_media/css/vmcss.css" rel="stylesheet" type="text/css">
<script>
var mediaPath = "/site_media/";
var cartNum = "" || "0" || 0;
</script>
<link href="/site_media/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="sidebar"><TABLE height="100%" cellSpacing=0 cellPadding=0 width=170 
background=/jscss/demoimg/201108/menu_bg.jpg border=0>
  <TR>
    <TD vAlign=top align=middle>
      <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
        
        <TR>
          <TD height=10></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/jscss/demoimg/201108/menu_bt.jpg><A 
            class=menuParent onclick=expand(1) 
            href="javascript:void(0);"></A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child1 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>˾</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/jscss/demoimg/201108/menu_bt.jpg><A 
            class=menuParent onclick=expand(2) 
            href="javascript:void(0);"></A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child2 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>˾</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/jscss/demoimg/201108/menu_bt.jpg><A 
            class=menuParent onclick=expand(3) 
            href="javascript:void(0);">Ʒ</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child3 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>Ʒչʾ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>²Ʒ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/jscss/demoimg/201108/menu_bt.jpg><A 
            class=menuParent onclick=expand(4) 
            href="javascript:void(0);">ͻ</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child4 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>ͻ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/jscss/demoimg/201108/menu_bt.jpg><A 
            class=menuParent onclick=expand(5) 
            href="javascript:void(0);">䰸</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child5 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/jscss/demoimg/201108/menu_bt.jpg><A 
            class=menuParent onclick=expand(6) 
            href="javascript:void(0);">߼</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child6 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>ͳ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>ʼ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>ϵ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>û</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>Ƹְλ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>ӦƸԱ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>Բ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>Ʒ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>ӹ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>ļ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>Ϣת</A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/jscss/demoimg/201108/menu_bt.jpg><A 
            class=menuParent onclick=expand(7) 
            href="javascript:void(0);">ϵͳ</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child7 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main></A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>ʽ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>Ŀ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>ܹ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>˵</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>ҳ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>Աб</A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/jscss/demoimg/201108/menu_bt.jpg><A 
            class=menuParent onclick=expand(0) 
            href="javascript:void(0);">˹</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child0 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="#" 
            target=main>޸Ŀ</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/jscss/demoimg/201108/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            onclick="if (confirm('ȷҪ˳')) return true; else return false;" 
            href="http://www.codefans.net" 
            target=_top>˳ϵͳ</A></TD></TR></TABLE></TD>
    <TD width=1 bgColor=#d1e6f7></TD></TR></TABLE></div>
<div class="scroller"><div class="index-top">
	<div class="index-top-main" id="index-header">
		<header class="header">
			<!-- 21030531-logo-start -->
			<section class="logo">
				<a href="#"><img src="http://res.vmall.com/nwap/20140708/images/echannelWap/logo.png"></a>
			</section><!-- 21030531-logo-end -->
			<section class="shortcut">
				<ul>
					<li></li>
				</ul>
			</section>
			
		</header>
	</div>
</div>

<div class="hr-96"></div>

<br>
<!-- 21030306-首页焦点图-start -->
<div id="search-2013">
			<div class="i-search ld">
				<ul id="shelper" class="hide">
				</ul>
				<div class="form" align="right">
					<input type="text" class="text" width="600" accesskey="s" id="key" autocomplete="off" onKeyDown="javascript:if(event.keyCode==13) search('key');">
					<input type="button" value="搜索" style='font-size:18px'  class="button" onClick="search('key');return false;" clstag="homepage|keycount|home2013|03a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
			</div>
			<div id="hotwords" clstag="homepage|keycount|home2013|03b"></div>
		</div>




<!-- 21030306-推荐商品-start -->
<article class="rec-pro">
    <section class="pro-list-1">
        <ul> 
            <!-- 组合套餐商品列表 -->
            
            
            <!-- 促销商品列表 -->
            
                <li>
                    <a href="#" >
                <div class="pro-area1" id="promotion-prd-1070">
                        <p class="p-img1"> <img align="middle"  with="95%" height="10%"
                        src="http://picapi.ooopic.com/10/26/22/71b1OOOPICdf.jpg" alt="华为 Ascend P7 移动4G（粉色）" /></p>
                        
                        
                    </div>
                    </a>
                    <br>
                </li>
                <br>
                <li>
                    <a href="#" >
                <div class="pro-area1" id="promotion-prd-1349">
                        <p class="p-img1"><img align="middle"  with="95%" height="280" src="http://photo.sohu.com/35/65/Img209406535.jpg" alt="C199 麦芒  电信4G（月光银）" /></p>
                      
                      
                    </div>
                    </a>
                 <br>
                </li>
                <br>
                <li>
                    <a href="#" >
                <div class="pro-area1" id="promotion-prd-1070">
                        <p class="p-img1"> <img align="middle"  with="95%" height="280"
                        src="http://picapi.ooopic.com/10/26/22/71b1OOOPICdf.jpg" alt="华为 Ascend P7 移动4G（粉色）" /></p>
                        
                        
                    </div>
                    </a>
                    <br>
                </li>
                <br>
                <li>
                    <a href="#" >
                <div class="pro-area1" id="promotion-prd-1349">
                        <p class="p-img1"><img align="middle"  with="95%" height="280" src="http://photo.sohu.com/35/65/Img209406535.jpg" alt="C199 麦芒  电信4G（月光银）" /></p>
                      
                      
                    </div>
                    </a>
                </li>
                
               
            
            
         </ul>
    </section>
</article> <!-- 21030306-推荐商品-end -->






<script src="/site_media/js/ecWap.js"></script>
<script src="/site_media/css/base.js"></script><script src="/site_media/css/index.js"></script>


</div>
</body>
</html>