<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>【演示】 jquery固定网站左侧，点击按钮弹出子菜单特效代码  - 代码笔记 www.198zone.com</title>
<link href="css/m_menu.css" rel="stylesheet" type="text/css" />
 <script>

<!-- 
window.onerror=function(){return true;} 
// --> 
 

</script>
<script src="js/198zone.js" type="text/javascript"></script>
<script>
function turnoff(obj){
document.getElementById(obj).style.display="none";
}
function turnon(obj){
document.getElementById(obj).style.display="block";
}
 
 

</script>
</head>

<body>
﻿<!--代码开始-->
<div id="daohangbg">
<div id="daohang">
<div class="daohangleft">

  <li  style="list-style:none"  > 
  <div style="float:left; height:20px; margin:17px 0 0 0">
  <a href="#" onclick="javascript:turnoff('daohangbg');javascript:turnon('ondaohangbg');"><img title="演示被挡住了？点我关闭导航菜单" src="../statics/images/icon198/101.png" width="13" height="13" /></a>
  </div>
  </li>
 
</div>


 
   
</div>
</div>
<div id="ondaohangbg" style="display:none; width:50px; height:30px; line-height:30px; margin:0 10px 0 0; position:absolute; top:0; right:0; background:#000">
<a href="#" onclick="javascript:turnoff('ondaohangbg');javascript:turnon('daohangbg');" style="color:#FF0; display:block; width:50px; height:30px;">显示</a>

</div>

<!--代码结束--> 


 
<div id="container" style="overflow:hidden;">

<iframe border="0" id="content" src="http://demo.198zone.com/leftmenufix" frameborder="0" height="100%" width="100%"></iframe>
          

</div>





<div   id="offabc" class="global198zonefooterForNotYouChongtu">

 <!--<div align="center" style="width:970px; height:90px; margin:5px auto 2px auto; ">
 <script src="/statics/js/ad/97090.js"  type="text/javascript"></script>
 
 </div> -->

<div style="height:40px;background:#333 ">
  <div class="footicononchongtu">
        <img src="http://www.198zone.com/statics/images/icon198/arrow_turn_180.png" width="20" height="20"  />
  </div>
  <div class="foottextnonchongtu"> 
    返回该代码【 <a href="http://www.198zone.com/mainmenus/2014071188.html" target="_blank">jquery固定网站左侧，点击按钮弹出子菜单特效代码</a> 】详细介绍页/下载页  
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    
   
    
     <script src="http://www.198zone.com/statics/js/inc_statistics.js"  type="text/javascript"></script>
        <script src="http://www.198zone.com/statics/js/inc_monitor.js"  type="text/javascript"></script></font>
    
   
  </div>
   <!--<div class="footadmiddle"> 
      
      
   
  </div>-->
  
  <div class="foottextnonchongtuad"> 
     <div style="float:left; height:20px; margin:13px 0 0 0">
     <a href="#" onclick="javascript:turnoff('offabc');javascript:turnon('onabc');"><img src="../statics/images/icon198/101.png" width="12" height="12" /></a>
     </div>
     <div style="float:left; height:30px; line-height:35px;">
     <a href="#" onclick="javascript:turnoff('offabc');javascript:turnon('onabc');" style="color:#FF0">演示被挡住了？点我关闭</a>
   </div>
  </div>
 </div>

  
  
</div>

<div id="onabc" style="display:none; width:50px; height:30px; line-height:30px; margin:0 10px 0 0; position:absolute; bottom:0; right:0; background:#000">
<a href="#" onclick="javascript:turnoff('onabc');javascript:turnon('offabc');" style="color:#FF0; display:block; width:50px; height:30px;">显示</a>

</div>


</body>
</html>


