{% extends "basehuiyuanka.html" %}
{% block title %}会员信息{% endblock %}

{% block huiyuanka %}
<section id="card_ctn">
        <div class="bk1"></div>
        <div class="cont">
          <div class="card">
            <div class="front">
              <figure class="fg" style="background-image:url(/site_media/img/4f.jpg);">
                <img src="/site_media/img/companylogo.png">
                <figcaption class="fc">
                  <span class="cname" style="color:#957426;">微信会员卡</span>
                  <span class="t" style="color:#aaa;text-shadow:#000 0 -1px;"></span>
                  <span class="n" style="color: rgb(170, 170, 170); text-shadow: rgb(0, 0, 0) 0px -1px; ">{{dic['cardNo']}}</span>
                </figcaption>
              </figure>
            </div>
            <div class="back">
              <figure class="fg" style="background-image:url(/site_media/img/4b.jpg);">
                <div class="info">
                  <p class="addr">广东省深圳市南山区滨海大道深圳湾体育中心</p>
                  <p class="tel"><a class="autotel" href="tel:075586280000">0755-86280000</a></p>
                </div>
                <p class="keywords">爱优折扣</p>
              </figure>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
{% block neirong %}<small><em>尊贵会员,爱优折扣会员卡:</em></small> {% endblock %}
{% block content %}
<p>会员姓名：{{u1.firstname]}}</p>
<p>会员电话：{{u1.UserProfile.phonenumber]}}</p>
<p>会员卡开通日期：{{dic['begintime']}}</p>
<p>会员卡结束日期：{{dic['endtime']}}</p>


{% endblock %}