{% extends "productfushi.html" %}

{% block title %}活动资讯{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){

$("#xiayiye").click(function(){
  $("#divinsert").append("<div class='pro-area1'></div>");
  $(".pro-area1:last").load("/foodsxiayiyesearch/");
  });
})
</script>
{% endblock %}

{% block content %}
<div>
<!-- 21030306-推荐商品-start -->
<article class="rec-pro">
    <section class="pro-list-1" id=divinsert>
    <ul>
    {% for item in productFushi %}
         <li><div class="pro-area1"><a href='/huodongdetail/{{item.id}}/'><img align='middle'  with='95%' height='280' src='{{item.hdtpurl}}' alt='{{item.hdname}}' /></a></div></li><br>
    {% endfor %}
        
           
         </ul>
    </section>
</article> <!-- 21030306-推荐商品-end -->
</div>

 <br>
{% endblock %}





