{% extends "productfushi.html" %}
{% block title %}{{huodonginfo.hdname}}{% endblock %}



{% block search-2013 %}
<div id="search-2013" >

			<div class="i-search ld" style='position:relative'>
 <div class="changecity" style='font-size:18px; position:absolute; left:40px; top:5px;width:50px; height:auto'><a href="/changecity/">
{{cityshiji}}</a></div>           
				<ul id="shelper" class="hide">
				</ul>
				<div class="form" align="right" >
                    <form action="/huodongsearch/" method="post">
					<input type="text" class="text" width="600" accesskey="s" id="fushi" name="fushisearch" autocomplete="off" >
					<input type="submit" value="搜索" style='font-size:18px'  class="button" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </form>
				</div>
  </div>
			<div id="hotwords" clstag="homepage|keycount|home2013|03b"></div>
</div>
{% endblock %}

{% block content %}
<p align="center">{{huodonginfo.hdname}}</p><br>
<img align='middle'  with='95%' height='280' src='{{huodonginfo.hdtpurll}}' alt='{{hdinfo.hdname}}' /><br>
 <p>{{huodonginfo.gginfo}}</p><br>
    {% endfor %}