{% extends "productfushi.html" %}
{% block title %}我的订阅{% endblock %}

{% block script %}
{% endblock %}

{% block search-2013 %}
{% endblock %}

{% block content %}
<article class="rec-pro">
    <section class="pro-list-1" id=divinsert>
    <ul>
    {% for item in productFushi %}
         <li><div class="pro-area1"><a href='{{item.gzurl}}'><img align='middle'  with='95%' height='280' src='{{item.gztpurl}}' alt='{{item.gzClothes}}' /></a></div></li><br>
    {% endfor %}
        
           
         </ul>
    </section>
</article> <!-- 21030306-推荐商品-end -->
</div>  
{% endblock %}




